## Pastas
logs/
resourcepacks/
saves/
shaderspack/
journeymap/
.index/


## Arquivos
.curseclient
minecraftinstance.json
options.txt
optionsof.txt
usercache.json
usernamecache.json
crash-reports/
icon.png
optionsshaders.txt
patchouli_data.json

